name: CI Pipeline

on:
  push:
  pull_request:

    branches: [ "main" ]

jobs:

  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Debug message
        run: echo "CI is working!"

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install flask pytest

      - name: Run tests
        run: pytest -q

  docker-build:
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t myimage:test .
